.App {
  background: url('https://media.istockphoto.com/photos/blurred-background-of-a-car-parking-in-the-department-store-car-picture-id1005913268?k=20&m=1005913268&s=170667a&w=0&h=fgtbcIgEVXhArUreN3V5mbOYgqf2xVm0h19h4W0UpgA=');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


form#parkin_form{
  border: 1px solid;
  width: 40%;
  margin: auto;
}
